<!--logout.html
CS304 Spring 2017
Last edited: 05/12/2017
-->

{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
    <div class="container">

        <div style="margin-top:4em;" class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    {{ title }}
                    <small>Do you really want to logout?</small>
                </h1>

				<form action="" method="post">
			        <h4><input type=radio name=answer value=yes>Yes</h4>
			      	<br>
			      	<h4><input type=radio name=answer value=no>No</h4>
			        <br>
			        <input class="btn btn-primary" type=submit value=Submit>
			    </form>

			</div>
		</div>
	</div>

{% endblock %}
